name: dagger pipeline

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    name: Run Dagger build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Run Dagger pipeline
        uses: dagger/dagger-for-github@v5
        with:
          version: "latest"
          workdir: .
          commands: |
            cargo run -p dagger-pipeline -- build

